# Build System Compoents
types-setuptools
tox
tox-gh-actions

# AAA Backends
ldap3
types-ldap3
mysql-connector-python

typer
ipython

# Data Modeling
pydantic

# Unit Testing
pytest
pytest-cov
coverage

# Formatting/linting
flake8
black
mypy

# Logging
structlog