# Build System Compoents
types-setuptools
tox
tox-gh-actions

# AAA Backends
ldap3
types-ldap3
mysql-connector-python

# CLI Functionality
typer

# Useful debugging tools
ipython

# Data Modeling
pydantic

# Unit Testing
pytest
pytest-cov
coverage

# Formatting/linting
flake8
black
mypy
isort

# Logging
structlog

# Client library for testing
tacacs_plus